{extend name="Administrator/nav"}
{block name="title"}课程管理{/block}
{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline" action="{:url()}">
                        <div class="form-group">
                            <label class="sr-only" for="name">课程管理</label>

                            <input name="name" type="text" class="form-control" placeholder="请输入要搜索的关键字" value="{:input('get.name')}">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <div class="modal" id="mymodal-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title text-left">增加课程</h4>
                                </div>
                                <div class="modal-body text-left">
                                    <form action="{:url('save')}" method="post">
                                        <label>课程名称：</label>
                                        <input type="text" name="name">
                                        <label>教师：</label>
                                        <select  class="btn btn-default dropdown-toggle" name="teacher_id" id="teacher">
                                              {volist name="teachers" id="_teacher"}
                                              <option value="{$_teacher->getData('id')}">{$_teacher->getData('name')}</option>
                                              {/volist}
                                        </select>
                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <table class="table table-hover table-bordered" style="margin-bottom: 0">
                <tr class="info">
                    <th width="10%">ID</th>
                    <th width="35%">课程名</th>
                    <th width="35%">教师</th>
                    <th width="20%">操作</th>
                </tr>
                {volist name="courses" id="course" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$course->getData('name')}</td>
                    <td>{$course->teacher->getData('name')}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editCourse{$key}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>

                    <a class="btn btn-sm btn-danger" href="{:url('delete?id=' . $course->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>

                        <div class="modal" id="editCourse{$key}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                                    <h4 class="modal-title">编辑课程</h4>
                                </div>

                                <div class="modal-body">
                                    <form action="{:url('update')}" method="post" class="form-inline">
                                        <label>课程名称：</label>
                                        <input type="hidden" name="id" value="{$course->getData('id')}" />
                                        <input type="text" name="name" id="name" value="{$course->getData('name')}">
                                        <label>教师：</label>
                                        <select  class="form-control" name="teacher_id" id="teacher">
                                              {volist name="teachers" id="_teacher"}
                                              <option value="{$_teacher->getData('id')}" {eq name="_teacher->getData('id')" value="$course->getData('teacher_id')"} selected="selected"{/eq}>{$_teacher->getData('name')}</option>
                                              {/volist}
                                        </select>
                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                </tr>  
             {/volist}
            </table>
            {:$courses->render()}
        </div>
     </div>
</div>
{/block}