<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>增加</h1>
            <div class="col-md-12">
                <form action="{:url('semester/insert')}" method="post">
                    <label>学期名称:</label>
                    <input type="text" name="name" />
                    <input type="hidden" name="create_time" value="{:time()}" />
                    <button class="btn btn-primary" type="submit">保存</button>
                </form>
            </div>
        </div>
    </div>
    
</body>

</html>