<!DOCTYPE html>
<html>
<head>
	<title>学生查看选课</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/labManageSystem/public/static/css/index.css">
</head>
<body>
<nav class="navbar navbar-default ">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<a class="navbar-brand" href="{:url('index')}">梦云智</a>
    	</div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="#">欢迎您:{$student->klass->name},{$student->name}同学</a></li>
		       	<li><a href="{:url('student')}">个人信息修改</a></li>
		       	<li><a href="{:url('logout')}">注销登录</a></li>
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-md-12 header">当前课表:{$currentSemester->name}第{$currentWeekorder}周</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="{:url('index')}" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <label>学期:</label>
                        <select class="btn btn-default dropdown-toggle" name="semester_id">
                            {volist name="allSemester" id="semester"}
                                <option value="{$semester->id}" {eq name="$semester->id" value="$currentSemester->id"} selected="selected"{/eq}>{$semester->name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>周次：</label>
                        <select class="btn btn-default dropdown-toggle" name="weekorder">
                            {for start="1" end="$currentSemester->totalweek+1" }
                                <option value="{$i}" {eq name="$i" value="$currentWeekorder"} selected="selected" {/eq}>第{$i}周</option>
                            {/for}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <!-- 表格 -->
        <div class="col-md-12">
            <!-- 显示信息表格 -->
            <!-- 表格 -->
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>星期/节次</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
                {volist name="secheduleList" id="sechedules" key="key"}
                    <tr>
                        <td>第{$key}节</td>
                        {volist name="sechedules" id="sechedule"}
                            <td style="text-align: center;">
                                {eq name="sechedule" value="$null"}
                                    <span>无课</span>
                                {else/}
                                    <span>课程:{$sechedule->course->name}</span>
                                    <br>
                                    <span>教室:{$sechedule->classroom->name}</span>
                                    <br>
                                    <span>班级:</span>
                                    {volist name="Klasses" id="Klass"}
                                        {eq name="$sechedule->getKlassesIsChecked($Klass)" value="true"}<span>{$Klass->name}</span>{else/}{/eq}
                                    {/volist}     
                                {/eq}
                            </td>
                        {/volist}
                    </tr>
                {/volist}
            </table>
        </div>
    </div>
</div>
</body>
</html>

