<!DOCTYPE html>
<html>
<head>
    <title>学生查看选课</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/labManageSystem/public/static/css/index.css">
</head>
<body>
<nav class="navbar navbar-default ">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{:url('index')}">梦云智</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{$Student->name}同学</a></li>
                <li><a href="{:url('student')}">个人信息修改</a></li>
                <li><a href="#">注销登录</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="
margin: 200px 600px;">
    <form   action="{:url('save')}" method="post">
        <div class="form-group" style="padding-top: 50px">
            <label>姓名：</label>
            <input type="hidden" name="id" value="{$Student->getData('id')}">
            <input type="text" class="form-control" name="name" value="{$Student->getData('name')}">
        </div>
        <br>
        <div class="form-group" style="margin-left: 5px;padding: 50px 0">
            <label for="type">身份</label>
            <input type="text" class="form-control" readonly="true" id="type" placeholder="学生">
        </div>
        <br>
        <div class="form-group">
            <label for="class">班级：</label>
            <select name="class" id="class" class="from-control">
                {volist name="classes" id="_Class" }
                <option name="klassId" value="{$_Class->getData('id')}"
                         {eq name="$_Class->id" value="$Student->klass_id"}
                        selected="selected" {/eq}>
                    {$_Class->name}
                </option>
                {/volist}
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-default" style="margin-left: 100px;">保存</button>
    </form>
</div>
</body>
</html>