<!DOCTYPE html>
<html>
<head>
	<title>抢课系统</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/labManageSystem/public/static/css/index.css">
</head>
<body>
  
	<nav class="navbar navbar-default ">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<a class="navbar-brand" href="">梦云智</a>
    	</div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="#">张三老师</a></li>
		       	<li><a href="{:url('edit')}">个人信息修改</a></li>
		       	<li><a href="#">注销登录</a></li>
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>


<div class="row"><div class="col-md-12 header">当前周次:第一周</div></div>
<div class="container">
	<!-- 搜索框 -->
	<div class="row">
		<div class="col-md-12 search">按条件查询</div>
	</div>
	<div class="row	blacknav">
		<div class="col-md-12">
			<form>
				<div class="row">
					
					<div class="col-md-3">
							<label>学期：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择学期</option>
								<option>第一学期</option>
								<option>第二学期</option>
								<option>第三学期</option>
							</select>
					</div>
					<div class="col-md-3">
							<label>周次：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择周次</option>
								<option>第一周</option>
								<option>第二周</option>
								<option>第三周</option>
							</select>
					</div>
					<div class="col-md-3">
							<label>选择教室：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择教室</option>
								<option>A171</option>
								<option>A172</option>
								<option>A173</option>
							</select>
						
					</div>
					<div class="col-md-1">
						<button type="submit" class="btn btn-default" >确认</button>
					</div>					
				</div>		
			</form>
		</div>
	</div>
	
	<div class="row">
		
		<!-- 表格 -->
		<div class="col-md-12">
			<!-- 显示信息表格 -->
		 <!-- 表格 -->
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>星期/节次</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
                <tr>
                    <td>第一节</td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a data-toggle="modal" data-target="#TakeLessons" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a data-toggle="modal" data-target="#AdjustLessons" >调课</a></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                     <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                </tr>
                 <tr>
                    <td>第二节</td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a data-toggle="modal" data-target="#TakeLessons" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a data-toggle="modal" data-target="#AdjustLessons" >调课</a></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                     <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                </tr>
                 <tr>
                    <td>第三节</td>
                <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a data-toggle="modal" data-target="#TakeLessons" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a data-toggle="modal" data-target="#AdjustLessons" >调课</a></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                     <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                </tr>
                 <tr>
                    <td>第四节</td>
                    <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a data-toggle="modal" data-target="#TakeLessons" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a data-toggle="modal" data-target="#AdjustLessons" >调课</a></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                     <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                </tr>
                 <tr>
                    <td>第五节</td>
                <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a data-toggle="modal" data-target="#TakeLessons" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a data-toggle="modal" data-target="#AdjustLessons" >调课</a></td>
                   <td style="text-align: center;">已经有课了<br><span style="margin-right: 10px;">张三老师 软件173班</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" data-toggle="modal" data-target="#ChangeLessons" >换课</a></span></td>
                     <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>
                    <td style="text-align: center;">还没有课<br><span>赶紧点击</span><br><a href="#" >抢课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >调课</a></td>

                </tr>
            </table>
		</div>
	</div>	
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="ChangeLessons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">换课</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确认</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="TakeLessons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">抢课</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确认</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AdjustLessons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">调课</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确认</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>