
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.mengyunzhi.com/"> 梦云智 </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="information.html">个人信息</a></li>
                <li><a href="index.html">选课</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--//主体界面-->
<div class="container">
    <!-- 搜索功能-->
    <div class="row">
        <h3>按条件查询:</h3>
    </div>
    <div class="row	blacknav">
        <div class="col-md-12">
            <form action="">
                <div class="row">
                    <div class="col-md-4">
                        <label>班级：</label>
                        <select class="btn btn-default dropdown-toggle">
                            {volist name="klasses" id="Klass"}
                            <option value="{$Klass->id}">{$Klass->name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>周次：</label>
                        <select class="btn btn-default dropdown-toggle">
                            {volist name="times" id="Time"}
                            <option value="{Time->id}">{$Time->weekly}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
    <h1>当前周次:第一周</h1>
    </div>
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <label>选择教室：</label>
                    <select class="btn btn-default dropdown-toggle">
                        <option>选择教室</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default">确认</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">

        <!-- 表格 -->
        <div class="col-md-12">
            <!-- 显示信息表格 -->
            <!-- 表格 -->
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>星期/节次</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
                <tr>
                    <td>第一节</td>

                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                </tr>
                <tr>
                    <td>第二节</td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                </tr>
                <tr>
                    <td>第三节</td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                </tr>
                <tr>
                    <td>第四节</td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                </tr>
                <tr>
                    <td>第五节</td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#">调课</a><span
                            class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#">换课</a>
                    </td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span
                            class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a
                            style="margin-left: 10px;" href="#">抢课</a></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>