{extend name="Teacher/nav"} {block name="title"}消息中心{/block} {block name="content"}

<body>
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable" id="tabs">
                    <!-- 切换卡 -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#my" class="nav-link">我的换课申请
                                {eq name="my_number" value="0"}
                                {else/}
                                <!-- 右上角红圈数字 -->
                                <div class="nav-counter nav-counter-red">{$my_number}</div>
                                {/eq}  
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#other" class="nav-link">谁向我换课
                                {eq name="other_number" value="0"}
                                 {else/}
                                <!-- 右上角红圈数字 -->
                                <div class="nav-counter nav-counter-red">{$other_number}</div>
                                {/eq}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- 我的换课申请 -->
                        <div class="tab-pane active" id="my">
                            {volist name="applyMessages" id="applyMessage" key="key"}
                                {eq name="applyMessage->isReadStatus" value="0"}
                                <!-- 新消息右上角有小红点 -->
                                <span class="red-point">
                                    我向{$applyMessage->getTargetTeacher()->name}老师发送的换课请求有了新动态
                                </span>
                                {else/}
                                 <span>
                                    我向{$applyMessage->getTargetTeacher()->name}老师发送的换课请求
                                </span>
                                {/eq}
                                <!-- 模态框触发按钮 -->
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{$key}" data-whatever="{$applyMessage->id}">查看详情
                                </button>
                                <!-- 模态框 -->
                                <div class="modal fade" id="{$key}" tabindex="-1" role="dialog" aria-labelledby="{$key}Label">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="{$key}Label">我向{$applyMessage->getTargetTeacher()->name}老师发送的换课请求</h4>
                                      </div>
                                        <div class="modal-body">
                                            <input type="hidden" class="form-control" id="id" name="message_id">
                                            <div class="container">
                                                <div class="col-md-3">                
                                                    <dl contenteditable="true" class="dl-horizontal">
                                                      <dt>申请换课教师</dt>
                                                      <dd>{$applyMessage->getApplyTeacher()->name}</dd>
                                                      <dt>时间</dt>
                                                      <dd>第{$applyMessage->getApply()->weekorder}周</dd>
                                                      <dd>星期{$applyMessage->getApply()->week}</dd>
                                                      <dd>第{$applyMessage->getApply()->node}节 </dd>
                                                      <dt>教室</dt>
                                                      <dd>{$applyMessage->getApply()->classroom->name} </dd>
                                                      <dt>课程</dt>
                                                      <dd>{$applyMessage->getApplyCourse()->name}</dd>
                                                    </dl>
                                                </div>
                                                <div class="col-md-3">
                                                    <dl class="dl-horizontal">
                                                      <dt>换课目标教师</dt>
                                                      <dd>{$applyMessage->getTargetTeacher()->name}</dd>
                                                      <dt>时间</dt>
                                                      <dd>第{$applyMessage->getTarget()->weekorder}周</dd>
                                                      <dd>星期{$applyMessage->getTarget()->week} </dd>
                                                      <dd>第{$applyMessage->getTarget()->node}节</dd>
                                                      <dt>教室</dt>
                                                      <dd>{$applyMessage->getTarget()->classroom->name} </dd>
                                                      <dt>课程</dt>
                                                      <dd>{$applyMessage->getTargetCourse()->name}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <dl class="text-center">
                                                <dt>状态</dt>
                                                <dd>{$applyMessage->isAgreeStatus}</dd>
                                            </dl>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{:url('handleRead', ['request' => 1,'id' => " $applyMessage->id"])}" class="btn btn-md btn-default">已读</a>
                                            <a href="{:url('handleRead', ['request' => 0,'id' => " $applyMessage->id"])}" class="btn btn-md btn-danger">删除</a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <script type="text/javascript">
                                    $('#{$key}').on('show.bs.modal', function (event) {
                                      var button = $(event.relatedTarget) 
                                      var recipient = button.data('whatever') 
                                      var modal = $(this)
                                      modal.find('.modal-body input').val(recipient)
                                    })
                                </script>
                                <br>
                            {/volist}
                        </div>
                        <!-- 谁向我换课 -->
                        <div class="tab-pane" id="other">
                            {volist name="requestMessages" id="requestMessage" key="key"}
                                {eq name="requestMessage->isReadStatus" value="0"}
                                <!-- 新消息右上角有小红点 -->
                                <span class="red-point">
                                    {$requestMessage->getTargetTeacher()->name}老师向我发送的换课请求有了新动态
                                </span>
                                {else/}
                                 <span>
                                    {$requestMessage->getTargetTeacher()->name}老师向我发送的换课请求有了
                                </span>
                                {/eq}
                                <!-- 模态框触发按钮 -->
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{$key}1" data-whatever="{$requestMessage->id}">查看详情
                                </button>
                                <!-- 模态框 -->
                                <div class="modal fade" id="{$key}1" tabindex="-1" role="dialog" aria-labelledby="{$key}1Label">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="{$key}1Label">我向{$requestMessage->getTargetTeacher()->name}老师发送的换课请求</h4>
                                      </div>
                                        <div class="modal-body">
                                            <input type="hidden" class="form-control" id="id" name="message_id">
                                            <div class="container">
                                                <div class="col-md-3">                
                                                    <dl contenteditable="true" class="dl-horizontal">
                                                      <dt>申请换课教师</dt>
                                                      <dd>{$requestMessage->getApplyTeacher()->name}</dd>
                                                      <dt>时间</dt>
                                                      <dd>第{$requestMessage->getApply()->weekorder}周</dd>
                                                      <dd>星期{$requestMessage->getApply()->week}</dd>
                                                      <dd>第{$requestMessage->getApply()->node}节 </dd>
                                                      <dt>教室</dt>
                                                      <dd>{$requestMessage->getApply()->classroom->name} </dd>
                                                      <dt>课程</dt>
                                                      <dd>{$requestMessage->getApplyCourse()->name}</dd>
                                                    </dl>
                                                </div>
                                                <div class="col-md-3">
                                                    <dl class="dl-horizontal">
                                                      <dt>换课目标教师</dt>
                                                      <dd>{$requestMessage->getTargetTeacher()->name}</dd>
                                                      <dt>时间</dt>
                                                      <dd>第{$requestMessage->getTarget()->weekorder}周</dd>
                                                      <dd>星期{$requestMessage->getTarget()->week} </dd>
                                                      <dd>第{$requestMessage->getTarget()->node}节</dd>
                                                      <dt>教室</dt>
                                                      <dd>{$requestMessage->getTarget()->classroom->name} </dd>
                                                      <dt>课程</dt>
                                                      <dd>{$requestMessage->getTargetCourse()->name}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <dl class="text-center">
                                                <dt>状态</dt>
                                                <dd>
                                                {switch name="$requestMessage->getData('isAgreeStatus')"} 
                                                    {case value="0"}
                                                        <a href="{:url('handlemessage', ['request' => 1,'id' => " $requestMessage->id"])}" class="btn btn-md btn-primary">
                                                            <i class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;同意</i>
                                                        </a>&nbsp
                                                        <a href="{:url('handlemessage', ['request' => 0,'id' => " $requestMessage->id"])}" class="btn btn-md btn-danger">
                                                            <i class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;拒绝</i>
                                                        </a> 
                                                    {/case} 
                                                    {case value="1"}<p>你已同意，等待管理员审核</p>{/case}
                                                    {case value="2"}<p>你已拒绝</p>{/case}
                                                    {case value="3"}<p>管理员已同意，换课成功</p>{/case} 
                                                    {case value="4"}<p>管理员已拒绝，换课失败</p>{/case}              
                                                {/switch}
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="modal-footer">
                                                <a href="{:url('handleRead', ['request' => 1,'id' => " $requestMessage->id"])}" class="btn btn-md btn-default">已读</a>
                                                <a href="{:url('handleRead', ['request' => 0,'id' => " $requestMessage->id"])}" class="btn btn-md btn-danger">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <script type="text/javascript">
                                    $('#{$key}').on('show.bs.modal', function (event) {
                                      var button = $(event.relatedTarget) 
                                      var recipient = button.data('whatever') 
                                      var modal = $(this)
                                      modal.find('.modal-body input').val(recipient)
                                    })
                                </script>
                                <br>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{/block}