<!DOCTYPE html>
<html>
<head>
	<title>{block name="title"}{/block}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/labManageSystem/public/static/css/index.css">
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="http://www.mengyunzhi.com/"> 梦云智 </a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="{:url('index')}">首页</a></li>
				<li><a href="information.html">个人信息</a></li>
				<li><a href="{:url('takelessonInterface')}">抢课换课</a></li>

			</ul>
		</div>
		<div style="float: right;">
			<ul class="nav navbar-nav">
				<li><a ><span class="glyphicon glyphicon-user"></span> 欢迎您,{$teacher->name}老师</a></li>
        <li><a href="{:url('message')}">消息</a></li>
        <li><a href="{:url('logout')}">注销</a></li>

			</ul>
		</div>
	</div>
</nav>
{block name="content"}

{/block}
</body>
</html>