{extend name="Teacher/nav"} {block name="title"}梦云智选课系统{/block} {block name="content"}
<div class="container">
    <div class="row"> <div class="col-md-12" ><h3>当前开放抢课学期:{$currentSemester->name}</h3></div></div>
    <div class="row"><div class="col-md-12" style="margin-bottom: 20px;"><span >您的位置:</span><span>{$currentSemester->name}-></span><span>第{$currentWeekorder}周-></span><span>{$currentClassroom->name}</span></div></div>
    <div class="row ">
        <div class="col-md-12">
            <form action="{:url('takelessonInterface')}" method="post">
                <div class="row">
                	<div class="col-md-12"><input type="hidden" name="semester_id"></div>
                    <div class="col-md-4">
                        <label>周次：</label>
                        <select class="btn btn-default dropdown-toggle" name="weekorder">
                            {for start="$startweekorder" end="$endweekorder+1" }
                                <option value="{$i}" {eq name="$i" value="$currentWeekorder"} selected="selected" {/eq}>第{$i}周</option>
                            {/for}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>选择教室：</label>
                        <select class="btn btn-default dropdown-toggle" name="classroom_id">
                            {volist name="allClassroom" id="classroom"}
                            <option value="{$classroom->id}" {eq name="$currentClassroom->id" value="$classroom->id" } selected="selected" {/eq}>{$classroom->name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

	<div class="row">
        <!-- 表格 -->
        <div class="col-md-12">
            <!-- 显示信息表格 -->
            <!-- 表格 -->
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>星期/节次</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
                {volist name="secheduleList" id="sechedules" key="key"}
                <tr>
                    <td>第{$key}节</td>
                    {volist name="sechedules" id="sechedule"}
                        <td style="text-align: center;">
                        	{eq name="sechedule->teacher_id" value="$null"}

                            	<div style="text-align: center;">
                            		<span>无课 可以<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span><a data-toggle="modal" data-target="#TakeLessons" data-whatever="{$sechedule->id}">抢课</a></span>
                                </div>
                            	<div>
                            		<span>无课</span>
                                    <br>
                                    {eq name="sechedule->isChangeLesson()" value="true"}
                                        <span>换课中</span>
                                    {else/}
                                        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a data-toggle="modal" data-target="#TakeLessons" data-whatever="{$sechedule->id}">抢课</a></span>
                                    {/eq}
                            	</div>
                            {else/}
                            <span>教师:{$sechedule->teacher->name}</span>
                            <br>  
                            <span>课程:{$sechedule->course->name}</span>
                            <br>
                            <span>班级:</span>
                            {volist name="Klasses" id="Klass"}
                                {eq name="$sechedule->getKlassesIsChecked($Klass)" value="true"}<span>{$Klass->name}</span>{else/}{/eq}
                            {/volist}
                            <br>
                                {eq name="$sechedule->isChangeLesson()" value="true"}
                                    <span style="border-bottom: 1px; text-decoration:underline;color: gray;">换课中</span>
                                {else/}
                                    {eq name="$sechedule->teacher_id" value="$teacher->id"}
    			                        <div>
    			                        	<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
    			                        	<a data-toggle="modal" data-target="#ChangeLessons" data-whatever="{$sechedule->id}">换课</a>
    			                        </div> 
                            		{/eq}
                                {/eq}
                            {/eq}
                        </td>
                    {/volist}
                </tr>
                {/volist}
            </table>
        </div>
    </div>
</div>

<!--抢课的表单-->
<form action="{:url('takeLesson')}" method="post">
    <div class="modal fade" id="TakeLessons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <input type="hidden" name="secheduleId" id="secheduleId">
                        <input type="hidden" name="teacherId" value="{$teacher->id}">
                    </div>
                    {volist name="tcolleges" id="College"}
                    <label>{$College->name}:</label><br>
                    <label>
                        {volist name="tmajors" id="Major"}
                        <label {neq name="$Major->college_id" value="$College->id" } hidden="hidden" {/neq}>
                        <label>
                            {volist name="tgrades" id="Grade"}
                            <label {neq name="$Grade->major_id" value="$Major->id" } hidden="hidden" {/neq}>
                            <label>
                                {volist name="tklasses" id="Klass"}
                                <label {neq name="$Klass->grade_id" value="$Major->id" } hidden="hidden" {/neq}>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                {$Klass->name}
                            </label>
                            <input type="checkbox"  value="1" name="klassIds[]"  {neq name="$Klass->grade_id" value="$Major->id" } hidden="hidden" {/neq}>
                        </label><br>
                        {/volist}
                    </label>
                    </label>
                    {/volist}
                    </label>
                    {/volist}
                    </label>
                    {/volist}
                </div>
                <hr/>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <label>课程名称:</label>
                    <br>
                <label>
                    {volist name="tcourses" id="Course" key="key"}
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    {$Course->name}
                <input  type="radio" value="{$Course->id}" name="courseId">
                    <br>
                    {/volist}
                </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCourse" style="margin-right: 330px">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        添加课程
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--老师可以在本页面增加课程-->
<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{:url('addCourse')}" class="form-inline" method="post">
                <div class="modal-body">
                    <label>课程名称:</label>
                    <input name="newCourseName" placeholder="请输入要增加的课程名">
                    <input type="hidden" name="teacherId" value="{$teacher->id}" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#TakeLessons').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('whatever');
        var modal = $(this);
        modal.find('#secheduleId').val(recipient)
    })
</script>
{/block}