{extend name="/lab/nav"}
{block name="title"}班级管理{/block}
{block name="content"}
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-inline" action="">
                            <div class="form-group">
                                <label class="sr-only" for="name">名称</label>
                                <input name="name" id="name" type="text" class="form-control" placeholder="名称..." value="">
                            </div>
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                        </form>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
                    </div>
                </div>
                <hr />
                <table class="table table-hover table-bordered">
                    <tr class="info">
                        <th>ID</th>
                        <th>班级名称</th>
                        <th>操作</th>
                    </tr>

                    {volist name="klasses" id="_Klass" key="key"}
                    <tr>
                        <td>{$key}</td>
                        <td>{$_Klass->getData('name')}</td>
                        <td>
                            <a class="btn btn-danger btn-sm" href="{:url('delete?id=' . $_Klass->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;
                            <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $_Klass->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                        </td>
                    </tr>
                    {/volist}

                </table>
                {:$klasses->render()}

            </div>
        </div>
    </div>
{/block}