<!DOCTYPE html>
<html>
<head>
	<title>课表查询登录</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/labManageSystem/public/login/login.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid background" >
	<div class="row">
		<div class="col-md-12 header" >
			<h2 >课表查询管理系统</h2>		
		</div>
	</div>
	<div id="loginBorder">
		<div class="content">
			<h3 id="welcomLogin">欢迎登录</h3>
			<form class="form-inline" action="{:url('login')}" method="post">
  			<div class="form-group">
    		<label >账号:</label>
    		<input type="text" class="form-control"  placeholder="12542..." name="username">
  			</div>
  			<hr>
  			<div class="form-group">
    		<label >密码:</label>
    		<input type="password" class="form-control"  name="password">
  			</div>
  			<hr>
 		 	<button type="submit" class="btn btn-info btn-lg btn-block" >登录</button>
			</form>
			<div id="footer">
				<span >第三方登录</span>
				<span  style="float:right;"><a href="{:url('studentRegister')}">学生注册</a></span>
			</div>
		</div>
	</div>
</div>
</body>
</html>