<!DOCTYPE html>
<html>
<head>
	<title>课表查询登录</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/labManageSystem/public/login/login.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid background" >
	<div><h2 style="text-align: center;">课表查询登录</h2></div>
	<div id="loginBorder">
		<div class="content">
			<h3 id="welcomLogin">欢迎登录</h3>
			<form class="form-inline" action="{:url('login')}" method="post">
  			<div class="form-group">
    		<label >账号:</label>
    		<input type="text" class="form-control"  placeholder="请输入账号" name="username">
  			</div>
  			<hr>
  			<div class="form-group">
    		<label >密码:</label>
    		<input type="password" class="form-control" placeholder="密码" name="password">
  			</div>
  			<hr>
 		 	<button type="submit" class="btn btn btn-primary btn-lg btn-block" >登录</button>
			</form>
			<div id="footer">
				<span ></span>
				<span  style="float:right;"><a href="{:url('studentRegister')}">学生注册</a></span>
			</div>
		</div>
	</div>
	<div style="position: fixed;bottom: 0px;width: 100%;left: 0px;text-align: center;padding: 15px;background-color: rgba(239,244,250,0.8);">
		<span style="color: #1d5494;">关于我们|天津河北工业大学|<a href="http://www.mengyunzhi.com/">梦云智团队</a></span>
		<span style="color: gray;">|©2018 - 2018 MengYunZhiClub.All Right Reserved.</span>
	</div>
</div>
</body>
<script type="text/javascript">
	var background = document.getElementsByClassName('background')[0];
	background.style.height = window.innerHeight + 'px';
	background.style.width = window.innerWidth + 'px';
	var loginBorder = document.getElementById('loginBorder');
	loginBorder.style.top = window.innerHeight / 5 + 'px';
	loginBorder.style.right = window.innerWidth / 8 + 'px';
</script>
</html>