<!DOCTYPE html>
<html>
<head>
	<title>教师注册</title>
	<title>课表查询登录</title>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/labManageSystem/public/login/teacherRegister.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" >
 	<div class="row">
  		<div id="scrollBox" >
  			<div id="showPicture" class="carousel slide" data-ride="carousel">
  				<div class="carousel-inner" role="listbox">
    				<div class="item active">
      					<img src="/labmanagesystem/public/login/register1.jpeg" >
    				</div>
    				<div class="item">
      					<img src="/labmanagesystem/public/login/register2.jpg" >
    				</div>
    				<div class="item">
      					<img src="/labmanagesystem/public/login/register3.jpg" >
    				</div>
  				</div>
  				<a class="left carousel-control" href="#showPicture" role="button" data-slide="prev">
   				<span class="sr-only"></span>
  				</a>
  				<a class="right carousel-control" href="#showPicture" role="button" data-slide="next">
    			<span class="sr-only"></span>
  				</a>
			</div>
		</div>
  		<div class="col-md-12">
  			<div id="register">
  				<div class="row">
  					<div class="col-md-3"></div>
  					<div class="col-md-9">
  						<div id="registerContent">
  							<h1 id="header">欢迎注册教师选课系统</h1>
  							<h2>你的注册身份是:老师</h2>
  							<div class="form">
  								<form action="{:url('register')}" method="post">
                    <input type="hidden" name="role" value="老师">
  									<div class="form-group registermessage" >
    									<label >账号</label>
    									<input type="text" class="form-control"  placeholder="输入账号"  name="username">
  									</div>
  									<div class="form-group registermessage">
    									<label >密码</label>
    									<input type="password" class="form-control"  placeholder="输入密码"  name="password">   							
  									</div>
  									<div class="form-group registermessage">
    									<label >您的名字</label>
    									<input type="text" class="form-control"  placeholder="姓名"  name="name">
    									<div style="margin-top: 10px;">
    										<label >绑定第三方登录</label>
    									</div>
  									</div>				
  									<button type="submit" class="btn btn-info btn-lg btn-block registerButton">立即注册</button>
								</form>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="/labManageSystem/public/login/teacherRegister.js"></script>
</html>