<!DOCTYPE html>
<html>
<head>
    <title>学生注册首页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/labManageSystem/public/login/studentRegister.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 studentRegister">
            <div class="row header">
                <div class="col-md-12">课表系统注册
                </div>
            </div>
            <div class="row registerContent">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3"><span>您现在的位置>>学生注册</span></div>
                        <div class="col-md-6">
                            <form class="form-inline" action="{:url('register')}" method="post">
                                <input type="hidden" name="role" value="学生">
                                <div class="form-group firstInputGroup">
                                    <div class="logo">
                                        <span class="glyphicon glyphicon-pencil"></span></div>
                                    <input type="text" class="form-control inputBox" placeholder="您的名字" name="name">
                                </div>
                                <br>
                                <div class="form-group inputGroup">
                                    <div class="logo">
                                        <span class="glyphicon glyphicon-user"></span></div>
                                    <input type="text" class="form-control inputBox" placeholder="账号" name="username">
                                </div>
                                <br>
                                <div class="form-group inputGroup">
                                    <div class="logo">
                                        <span class="glyphicon glyphicon-lock"></span></div>
                                    <input type="password" class="form-control inputBox" placeholder="密码" name="password">
                                </div>
                                <div class="row">
                                    <div class="col-md-6 row">
                                        <label class="col-md-4 select_label">学院</label>
                                        <div class="col-md-8">
                                            <select id="college" class="form-control" onchange="yunzhi.getMajor('college', 'major', 'grade', 'klass')">
                                                {volist name="colleges" id = "College"}
                                                <option value="{$College->id}">
                                                    {$College->name}
                                                </option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 row">
                                        <label class="col-md-4 select_label">专业</label>
                                        <div class="col-md-8">
                                            <select id="major" class="form-control" onchange="yunzhi.getGrade('major', 'grade', 'klass')">
                                                <option>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-md-6 row">
                                        <label class="col-md-4 select_label">年级</label>
                                        <div class="col-md-8">
                                            <select id="grade" class="form-control" onchange="yunzhi.getKlass('grade', 'klass')">
                                                <option>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 row">
                                        <label class="col-md-4 select_label">班级</label>
                                        <div class="col-md-8">
                                            <select id="klass" class="form-control" onchange="yunzhi.getKlassId('klass')">
                                                <option>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div  id="registerButton">
                                    <button type="submit" class="btn btn-default btn-info">免费注册</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script type="text/javascript" src="/labManageSystem/public/login/studentRegister.js"></script>
<script>
    yunzhi.getMajor('college', 'major', 'grade', 'klass');
</script>
</body>
</html>

