.background{
	background-image:url('./loginPicture.jpg'); 
	background-size:cover; 
}
.header{
	text-align: center;
	color: black;
}
#loginBorder{
	position: absolute;
	border: 1px gray solid;
	border-radius: 6px;
	margin: 25px;
}
#loginBorder .content{
	margin: 45px;
}
#welcomLogin{
	color:black;
	margin-top: -25px;
	margin-bottom: 40px;
	text-align:center;
}

#loginBorder .content label{
	color: black;
}
#loginBorder .content #footer{
	margin-top: 10px;
	height: 10px;
}