<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>班级管理</title>
     <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">

     <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline" action="">
                        <div class="form-group">
                            <label class="sr-only" for="name">名称</label>
                            <input name="name" type="text" class="form-control" placeholder="名称..." value="">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>           
                    </form>
                </div>
                <div class="col-md-6 text-right">
                     <a href="" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a> 
                </div>                                
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>ID</th>
                    <th>班级名称</th>                    
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>计171</td>
                    <td><a class="btn btn-danger btn-sm" href=""><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;<a class="btn btn-sm btn-primary" href=""><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>