{extend name="Administrator/nav"}
{block name="title"}年级管理{/block}
{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline" action="{:url()}">
                        <div class="form-group">
                            <label class="sr-only" for="name">年级管理</label>
                            <input name="name" type="text" class="form-control" placeholder="名称..." value="">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询
                        </button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#mymodal-data"><i
                            class="glyphicon glyphicon-plus"></i>&nbsp;增加
                    </button>
                    <div class="modal bs-example-modal-lg" id="mymodal-data" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title text-left">增加年级</h4>
                                </div>
                                <div class="modal-body text-left">
                                    <form action="{:url('insert')}" method="post">
                                        <br>
                                        <p id="major1" class="hide">1</p>
                                        <p id="grade1" class="hide">1</p>
                                        <p id="klass1" class="hide">1</p>

                                        <div class="col-md-3 row">
                                            <label class="col-md-4 select_label">学院</label>
                                            <div class="col-md-8">
                                                <select id="college" class="form-control" onclick="getMajor()">
                                                    {volist name="colleges" id = "College"}
                                                    <option value="{$College->id}">
                                                        {$College->name}
                                                    </option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 row">
                                            <label class="col-md-4 select_label">专业</label>
                                            <div class="col-md-8">
                                                <select id="major" class="form-control" onclick="getGrade()">
                                                    <option>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <label>年级名称：</label>
                                        <input type="text" name="name">
                                        <br>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th width="10%">ID</th>
                    <th width="70%">年级名称</th>
                    <th width="20%">操作</th>
                </tr>
                {volist name="grades" id="Grade" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$Grade->getData('name')}</td>
                    <td><a class="btn btn-sm btn-danger" href="{:url('delete?id=' . $Grade->getData('id'))}"><i
                            class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>

                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target=".bs-example-modal-lg{$key}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
                        </button>

                        <div class="modal fade bs-example-modal-lg{$key}" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg{$key}" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title">编辑年级</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{:url('update')}" method="post">
                                            <label>年级名称：</label>
                                            <input type="hidden" name="id" value="{$Grade->getData('id')}"/>
                                            <input type="text" name="name" id="name" value="{$Grade->getData('name')}">
                                            <button type="submit" class="btn btn-primary">保存</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {/volist}
            </table>
            {:$grades->render()}
        </div>
    </div>
</div>

<script>
    //onchang的方法完成级联表单操作
    function getMajor() {
        var major1 = document.getElementById('major1').innerHTML;
        var collegeNode = document.getElementById('college');
        var majorNode = document.getElementById('major');
        var name = "aCollege";//建立的input的name

        clear(majorNode);

        var collegeIndex = collegeNode.selectedIndex;
        var value = collegeNode[collegeIndex].value;
        var url = "/labmanagesystem/public/index/grade/getMajor?college=" + value;
        ajaxGet(url, function (response) {
            var majors = response;
            createOption(majorNode, majors);
            setSelected(majorNode, major1);
        });
        creatInput(value, name, collegeNode);
    }

    function getGrade() {

        var majorNode = document.getElementById('major');
        var name = "aMajor";//建立的input的name
        var majorIndex = majorNode.selectedIndex;
        var value = majorNode[majorIndex].value;


        creatInput(value,name,majorNode);
    }

    //访问php函数，一个对象数组的返回值
    function ajaxGet(url, callback) {
        $.ajax({
            url: url,
            type: "get",
            success: function (response) {
                callback(response);
            },
            error: function (xhr) {
                console.log('server error');
            }
        });
    }

    //清除
    function clear(node) {
        node.length = 0;
    }

    //创建选项
    function createOption(node, inners, values) {
        for (var i = 0; i < inners.length; i++) {
            var option = document.createElement('option');

            option.value = inners[i].id;
            option.name = node;
            option.innerHTML = inners[i].name;
            node.appendChild(option);
        }
    }

    //设置选中状态
    function setSelected(node, value) {
        for (var i = 0; i < node.options.length; i++) {
            if (node.options[i].innerHTML == value) {
                node.options[i].setAttribute("selected", "true");
            }
        }
    }

    //创建一个input按钮
    function creatInput(value, name, position) {
        var newInput = document.createElement("input");
        newInput.name = name;
        newInput.value = value;
        position.appendChild(newInput);
    }

</script>
{/block}