{extend name="lab/nav"}
{block name="title"}教师选课系统{/block}
{block name="content"}
<div class="container">
	<!-- 搜索框 -->
	<div class="row">
		<div class="col-md-12 search">按条件查询</div>
	</div>
	<div class="row	blacknav">
		<div class="col-md-12">
			<form>
				<div class="row">
					<div class="col-md-4">
							<label>班级：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择班级</option>
								<option>软件171班</option>
								<option>软件172班</option>
								<option>软件173班</option>
							</select>
						
					</div>
					<div class="col-md-4">
							<label>周次：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择周次</option>
								<option>第一周</option>
								<option>第二周</option>
								<option>第三周</option>
							</select>
					</div>
					<div class="col-md-3">
							<label>老师：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择老师</option>
								<option>张三</option>
								<option>李四</option>
								<option>张五</option>
							</select>
					</div>
					<div class="col-md-1">
						<button type="submit" class="btn btn-default" >搜索</button>
					</div>					
				</div>		
			</form>
		</div>
	</div>
	<div class="row"><div class="col-md-12 header">当前周次:第一周</div></div>
	<div class="col-md-12">
			<form>
				<div class="row">
					<div class="col-md-3">
							<label>选择教室：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择教室</option>
								<option>A171</option>
								<option>A172</option>
								<option>A173</option>
							</select>
						
					</div>
					<div class="col-md-1">
						<button type="submit" class="btn btn-default" >确认</button>
					</div>					
				</div>		
			</form>
		</div>
	<div class="row">
		
		<!-- 表格 -->
		<div class="col-md-12">
			<!-- 显示信息表格 -->
		 <!-- 表格 -->
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>星期/节次</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
                <tr>
                    <td>第一节</td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                  <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                </tr>
                 <tr>
                    <td>第二节</td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                  <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                </tr>
                 <tr>
                    <td>第三节</td>
                  <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                  <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                </tr>
                 <tr>
                    <td>第四节</td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                  <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                </tr>
                 <tr>
                    <td>第五节</td>
                 <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                   <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                    <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                  <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                     <td style="text-align: center;">已经有课了<br><span>张三老师 软件173班</span><br><a href="#" >调课</a><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span><a href="#" >换课</a></td>
                    <td style="text-align: center;">还没有课<br><span style="margin-right: 10px;">赶紧点击</span><br><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"><a style="margin-left: 10px;" href="#" >抢课</a></span></td>
                </tr>
            </table>
		</div>
	</div>	
</div>
{/block}