<!DOCTYPE html>
<html>
<head>
	<title>教师选课系统</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/labManageSystem/public/static/css/index.css">
</head>
<body>
<!-- 顶部导航条 -->
<nav class="navbar navbar-default ">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#">梦云智</a>
    	</div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      	<ul class="nav navbar-nav navbar-right">
	      		<li><a href="#">个人信息</a></li>
		        <li><a href="#">二维码生成</a></li>
		        <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">功能菜单<span class="caret"></span></a>
	            <ul class="dropdown-menu">
	            <li><a href="#">点击选课</a></li>
	            <li><a href="#">点击换课</a></li>
	            <li><a href="#">点击调课</a></li>
	            </ul>
	            </li>
	        </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>


<div class="container">
	<!-- 搜索框 -->
	<div class="row">
		<div class="col-md-12 search">按条件查询</div>
	</div>
	<div class="row	blacknav">
		<div class="col-md-12">
			<form>
				<div class="row">
					<div class="col-md-3">
							<label>班级：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择班级</option>
								<option>软件171班</option>
								<option>软件172班</option>
								<option>软件173班</option>
							</select>
						
					</div>
					<div class="col-md-3">
							<label>教室：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择教室</option>
								<option>A101</option>
								<option>A102</option>
								<option>A103</option>
							</select>
						
					</div>
					<div class="col-md-3">
							<label>周次：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择周次</option>
								<option>第一周</option>
								<option>第二周</option>
								<option>第三周</option>
							</select>
					</div>
					<div class="col-md-2">
							<label>老师：</label>
							<select class="btn btn-default dropdown-toggle">
								<option>选择老师</option>
								<option>张三</option>
								<option>李四</option>
								<option>张五</option>
							</select>
					</div>
					<div class="col-md-1">
						<button type="submit" class="btn btn-default" >搜索</button>
					</div>					
				</div>		
			</form>
		</div>
	</div>
	<div class="row"><div class="col-md-12 header">当前周次:第一周</div></div>
	<div class="row">
		<!-- 选择星期 -->
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">周一</button>
			</div>
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">周二</button>
			</div>
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">周三</button>
			</div>
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">周四</button>
			</div>
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">周五</button>
			</div>
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">周六</button>
			</div>
			<div class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">周日</button>
			</div>
		</div>
		<!-- 表格 -->
		<div class="col-md-12">
			<!-- 显示信息表格 -->
			<table  class="table table-striped">
				<tr id="tabletitle">
					<th>时间信息</th>
					<th>教室信息</th>
					<th>已选老师</th>
					<th>已选班级</th>
					<th>已选科目</th>				
				</tr>
				<tr>
					<td rowspan="8" class="session"><div>第一大节</div></td>
					<tr>
						<td>A101教室</td>
						<td>张三</td>
						<td>软件173班</td>
						<td>物理</td>
					</tr>
					<tr>
						<td>A101教室</td>
						<td>张三</td>
						<td>软件173班</td>
						<td>物理</td>
					</tr>
					<tr>
						<td>A101教室</td>
						<td>张三</td>
						<td>软件173班</td>
						<td>物理</td>
					</tr>
					<tr>
						<td>A101教室</td>
						<td>张三</td>
						<td>软件173班</td>
						<td>物理</td>
					</tr>
					<tr>
						<td>A101教室</td>
						<td>张三</td>
						<td>软件173班</td>
						<td>物理</td>
					</tr>
					<tr>
						<td>A101教室</td>
						<td>张三</td>
						<td>软件173班</td>
						<td>物理</td>
					</tr>
					<tr>
						<td>A101教室</td>
						<td>张三</td>
						<td>软件173班</td>
						<td>物理</td>
					</tr>
				</tr>
				<tr>
					<td rowspan="8" class="session"><div>第二大节</div></td>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A101教室</td>
						<td>李五</td>
						<td>软件171班</td>
						<td>离散</td>
					</tr>	
				</tr>
				<tr>
					<td rowspan="8" class="session"><div>第三大节</div></td>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>		
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A101教室</td>
						<td>李五</td>
						<td>软件171班</td>
						<td>离散</td>
					</tr>	
				</tr>
				<tr>
					<td rowspan="8" class="session"><div>第四大节</div></td>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>		
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A101教室</td>
						<td>李五</td>
						<td>软件171班</td>
						<td>离散</td>
					</tr>	
				</tr>				
				<tr>
					<td rowspan="8" class="session"><div>第五大节</div></td>
					<tr>
						<td>A102教室</td>
						<td>无</td>
						<td>无</td>
						<td>无</td>
					</tr>
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>		
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A103教室</td>
						<td>李四</td>
						<td>软件172班</td>
						<td>生物</td>
					</tr>	
					<tr>
						<td>A101教室</td>
						<td>李五</td>
						<td>软件171班</td>
						<td>离散</td>
					</tr>	
				</tr>				

			</table>
		</div>
	</div>	
</div>
</body>
</html>